* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0; /* дел отступы */
    padding: 0; /* дел отступы */
    overflow-x: hidden; /* Откл. гориз. прокрутку */
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 60px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 30px;
}

p {
    text-align: center;
}

.skills-grid, .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.skill-item, .project-item {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white
}
  
  
footer a {
    color: #ff4500; 
    text-decoration: none; 
}

footer a:hover {
    color: #ff6347; 
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 30px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: none; 
    z-index: 1000; 
    transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #2980b9;
}
